altgraph
attrs
beautifulsoup4
blinker
certifi
cffi
charset-normalizer
click
colorama
et-xmlfile
Flask
gunicorn  # Add this line
h11
idna
itsdangerous
Jinja2
MarkupSafe
MouseInfo
numpy
openpyxl
outcome
packaging
pandas
pefile
pillow
PyAutoGUI
PyGetWindow
PyMsgBox
pyperclip
PyRect
PyScreeze
PySocks
python-dateutil
pytweening
pytz
pywhatkit
requests
selenium
setuptools
six
sniffio
sortedcontainers
soupsieve
tk
trio
trio-websocket
typing_extensions
tzdata
urllib3
websocket-client
Werkzeug
wikipedia
wsproto
